#page-landing {
    background-image: url('../../public/assets/Abstract\ Background\ Video\ 4k\ VJ\ LOOP\ NEON\ Tunnel\ Wave\ Metallic\ Black\ White\ Screensaver\ Visual.mp4');
}

#landing-laura-image {
    height: 50%;
    position: absolute;
    transform: rotate(90deg);
    filter: grayscale(100%);
    bottom: 30%;
    left: 30%
}