#page-projects {
    
}

#projects-container {
    background-color: rgb(40, 40, 40);
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#projects-container-nav-ul {
    list-style: none;
    background-color: rgb(24, 24, 24);
    color: rgb(220, 220, 220);
    height: 100%;
    width: 30px;
    text-align: end;
    position: absolute;
    left: -30px;
}

#projects-container-nav-ul li {
    background-color: rgb(79, 79, 79);
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-container-nav-li-non-focus {
    height: 25%;
}

#projects-container-nav-li-focus {
    height: 50%;
}

#projects-container-nav-ul h2 {
    white-space: nowrap;
    height: fit-content;
    transform: rotate(-90deg);
    transform-origin: center;
    background-color: rgb(145, 145, 145);
}

.projects-container-nav-li-non-focus h2 {
    font-size: 1rem;
    -webkit-filter: blur(1px);
}

#projects-container-info-ul {
    color: rgb(168, 168, 168);
    margin-bottom: 10%;
}