:root {
    --primary-color: #007bff;
    --secondary-color: #ffe600;
    ---tertiary-color: #ff00a6;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

body {
    z-index: 0;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    min-width: 425px;

    overscroll-behavior: none;
    background-image: url('../public/assets/pawel-czerwinski-BPrk2cOoCq8-unsplash.jpg');
}

.page {
    background-color: rgb(102, 102, 102);
    border-bottom: 1px solid black;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.page-h1 {
  background: linear-gradient(to bottom, rgb(221, 221, 221), rgb(59, 59, 59));
  -webkit-background-clip: text;
  color: transparent;
  width: 100vh;
  height: fit-content;
  transform: rotate(-90deg);
  position: absolute;
  left: -40vh;
  bottom: 50%;
  text-align: center;
  transform-origin: bottom;
  z-index: 999;
}